<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Details</title>
</head>
<body>
  <p><%= @question.title %></p>
  <p><%= @question.text %></p>
  <%= render 'answers/form' %>
</body>
</html>
